
*{
  font-family: 'Source Serif Pro', serif;   
}
body{
  background-color: #7395ae;
  color:white;
}
.inlineblock{
display: inline-block;
}
.button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
 
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 16px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
  height: 30px;
  width:auto;
  }
.button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
  }
.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
  }
.character_title{
  margin-left:50%;
  color:white;

}
#get_in_touch{
  background-color:#557A95;
  padding-bottom: 30px;
  color:white;
}
h1,h2{
  font-family: 'Alegreya SC', serif;
}
.hello{
  margin-left:50%;
}
.intro{
  background-color: #c2dde6;
  background-image: -webkit-linear-gradient(-40deg, #bccbde 50%, #c2dde6 50%);
  min-height: 400px;
}
.intouch{
  display: block;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}
.intouchcontainer{
  text-align: center; 
}
.nice_to_meet_you{
  margin-left:40px;
  background-color:#E5E5E5;
  padding-bottom: 30px;
}
#otherwork{
  margin-left:45%;
  
 
}
p{
  margin-left: 5%;
  margin-right: 5%;
}
.pablo_quote{
  background-color:#c2dde6;
  color:white;
  text-align: center;
  padding:30px;  
}
#projectdiv{
  background-color: #c2dde6;
  background-image: -webkit-linear-gradient(60deg, #B1A296 50%,  #7395AE 50%);
  min-height: 400px;
  text-align: center;
}
#softwareicon{
  width : 120px; ///for what dimmensions
  height: auto;
  display: block;
  margin-left: 20%;
  margin-right: auto;
  padding-top:70px;
 
}
.hidden{
  display: none;
}

/*responsiveness from 320px to 1600px width screens*/



/*Grey silver: #bccbde
Lightsaber Blue:#c2dde6
Purple: #431c5d
Orange: #e05915
Yellowbrite: #cdd422


or 
dark grey : #5d5C61
grey: #379683
light blue: #7395AE
dark blue: #557A95
 baise #B1A296

 https://visme.co/blog/website-color-schemes/
*/
